body{

}

.dives{

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.weather{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.weather > div{
  padding: 13px;
    margin: 1vh;
    font-size: 1.5em;

    border-radius: 20%;
}
.blocktext{
  font-size: -webkit-xxx-large;
  color:black;
}
.infocity{
  text-align: center;
  background-image: url(./images/foto30.jpg);
  height:100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
::placeholder {
  color: black;
  /* opacity: 1; */
}
.firstdiv{
  height: 100vh;
display: flex;
width: 100%;
    overflow: auto;
    /* background-color: antiquewhite; */
}
.footer{
  width: 100%;
    height: 50px;
    background-color: steelblue;
    text-align: center;
}
.info{
      padding-bottom: 15vh;

}



.logo{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.textinfo,h2 {
  font-size: 2.5em;
    color: black;
}
form{
  font-size: xx-large;
}
.block-weather {
  background-color: cornflowerblue;
}
.menuname >a{
  margin: 0px 20px;
}
@media screen and (max-width:970px){
	.weather > div{
    background-color: cornflowerblue;
  }
  .textinfo,h2 {
    font-size: 2em;
    padding-top: 3vh;

  }
  .info {
    padding-bottom: unset;
}
}
@media screen and (max-width:500px){

	.weather > div{
    background-color: cornflowerblue;
  }
  .textinfo,h2 {
    font-size: 1.5em;
    padding-top: 3vh;
  }
  .info {
    padding-bottom: unset;
}
.blocktext{
  font-size: 1.5em;
}
form {
    padding-bottom: 3vh;
    font-size: larger;

}
}
